---
import Header from "@/components/Header.astro";
import { URL_BASE } from "@/config";
import Layout from "@/layouts/Layout.astro";
import GameApp from "@/components/GameApp.astro";
---

<Layout>
  <div
    class="min-h-screen bg-right lg:bg-center lg:bg-cover"
    style={`background-image: url(${URL_BASE}/images/bg_game.webp);`}
  >
    <div class="min-h-screen flex-1 flex flex-col max-w-7xl mx-auto">
      <Header />
      <main class="flex-1 p-4 py-0 md:py-0 md:p-6 max-w-4xl mx-auto">
        <div class="flex gap-4 items-center">
          <img class="h-24" src={`${URL_BASE}/icons/icon_flag_1.webp`} alt="Game Image">
          <p class="text-2xl text-balance">
            Arrastra cada emoticón hacia el ritmo musical que creas que representa la emoción y descubre <strong class="font-bold text-purple-dark">cómo un anticonceptivo con un estrógeno natural ayuda a mantener la estabilidad hormonal, que es clave para la regulación emocional.</strong>
          </p>
        </div>
        <div class="mt-10">
          <GameApp />
        </div>
      </main>
      <footer class="flex flex-col lg:flex-row justify-between items-end p-4 md:p-6">
        <div class="lg:w-1/2">
          <p class="text-xs">
            MATERIAL EXCLUSIVO PARA FARMACIAS <strong>CO-26-0506</strong>
          </p>
        </div>

        <div class="lg:w-1/2 flex justify-end">
          <img
            class="h-8 object-contain"
            src={`${URL_BASE}/logos/logo_natural_purple.webp`}
            alt="Logo Abbott"
          />
        </div>
      </footer>
    </div>
  </div>
</Layout>
